

.posts{
    background: url('../../assets/bg.jpg');
    background-size: cover;   
    min-height: 100vh;
}

.post-nav{
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.post-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 20px;
}   

.post-title{
    color: rgb(68, 65, 65);
    font-size: 30px;
    padding-bottom: 20px;
}

.post-created{
  color: rgb(68, 65, 65) ;
  font-size: 13px !important;
  position: absolute;
  right: 200px
}

.input-field {
    width: 100% !important;
    max-width: 500px !important;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    
  }

textarea{
    padding: 10px;
    font-size: 18px;
    font-family: 'Times New Roman, sans-serif'
}

  button{
    width: 30%;
    margin:0;
    padding: 0.75rem;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
.post-content{
    padding: 15px;
}

  .post-content p{
    font-size: 20px;
    padding: 0;
}

.post-content h2{
    font-size: 20px;
    padding: 0;
    color: black;
}

.post-content-container{
    padding: 40px;
}

.delete-btn:hover{
    color: red;
}

.accordian-summary{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.delete-post{
  font-size: 15px !important;
  margin-right: 20px;
}

.delete-post:hover{
  text-decoration: underline;
}

.pagination  {
    display: flex;
    justify-content: space-between; /* Aligns buttons to the right side */
    margin: 20px ;

  }
  
  .pagination.align-right {
    justify-content: flex-end; /* Aligns buttons to the right when on the first page */
  }

  .pagination button {
    margin: 0 5px; /* Adds space around buttons */
  }